<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="{{ resolve('save') }}?next=index" method="POST" enctype="application/x-www-form-urlencoded" style="text-align: center; margin: 0 auto;">
    <input type="text" name="name" placeholder="Secret id" /> <br>
    <label for="text">Insert you XML</label> <br>
    <textarea name="text" id="text" cols="30" rows="10"></textarea> <br>
    <input type="submit"/>

    <!-- input save get -->
</form>
</body>
</html>
